<div class="container-fluid side-margin">

  <h1>Quizz</h1>
  <div class="row margin-left">

<!--     <div>
      <%= simple_form_for [@categories_pref] do |f| %>
      <%= f.association :category, prompt: "Choose a category", label: false %>
      <%= f.submit "Choose this category", class: "btn-blue" %>
      <% end %>
    </div> -->

  </div>
</div>

