.article-text h1 {
  margin-top: 0px;
}

#quizz-title {
  display:flex;
  flex-direction: column;
  align-items: center;
  h3 {
    background: linear-gradient(to right, #85D8CE, #085078);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    font-size: 31px;
  }
  p {
    background: linear-gradient(to right, #85D8CE, #085078);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
  }
}

.left-btn {
  display: flex;
  justify-content: flex-end;
}
// Checkboxes design for CATEGORIES
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  .smiley {
    width: 160px;
    height: 110px;
    margin-top: 15px;
  }
  #emotion-min {
    margin-left: 50px;
  }
  #emotion-max {
    margin-right: 73px;
  }
}

.category-choice {
  background-size: cover !important;
  height: 120px;
  width: 220px;
  margin-bottom: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
  &.active {
  color: white;
  opacity: 1;
  box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
}

.emotion-choice {
  background-size: cover !important;
  background-position: center;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  text-align:center;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
  &.active {
  color: white;
  opacity: 1;
  box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
}
.tempe-choice {
  background-size: cover !important;
  height: 150px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
  &.active {
  color: white;
  opacity: 1;
  box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
}

#chill {
  background-color: yellow;
  height: 30px;
  width: 50px;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &.ready {
  opacity: 0.3;
  }
}

#posey {
  background-color: orange;
  height: 30px;
  width: 50px;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &.ready {
  opacity: 0.3;
  }
}

#smart {
  background-color: pink;
  height: 30px;
  width: 50px;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &.ready {
  opacity: 0.3;
  }
}

#intense {
  background-color: red;
  height: 30px;
  width: 50px;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &.ready {
  opacity: 0.3;
  }
}
