// Form design
.form-post {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

// Checkboxes design for CATEGORIES
.choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  background-size: cover !important;
  height: 120px;
  width: 220px;
  margin-bottom: 10px;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
  &.active {
  color: white;
  opacity: 1;
  box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
}

.emotion-choice {
  background-size: cover !important;
  background-position: center;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 1px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
  &.active {
  opacity: 1;
  box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
}
.tempe-choice {
  background-size: cover !important;
  height: 150px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 1px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
  &.active {
  font-weight: bolder;
  opacity: 1;
  box-shadow: -1px 1px 23px 0px #7b7b7b24;
  }
}

#chill {
  background-color: yellow;
  height: 30px;
  width: 50px;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &.ready {
  opacity: 0.3;
  }
}

#posey {
  background-color: orange;
  height: 30px;
  width: 50px;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &.ready {
  opacity: 0.3;
  }
}

#smart {
  background-color: pink;
  height: 30px;
  width: 50px;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &.ready {
  opacity: 0.3;
  }
}

#intense {
  background-color: red;
  height: 30px;
  width: 50px;
  &:hover {
    opacity: 0.3;
    cursor: pointer;
  }
  &.ready {
  opacity: 0.3;
  }
}
