// Import page-specific CSS files here.
@import "home";
@import "login";
@import "articles/_show";
@import "articles/_index_article";
@import "articles/_new";
@import "quizzes/_new";
@import "reviews/_show";
@import "reviews/_new";
@import "opinions/_show";


// The margin on the side for every pages
body {
  background-color: white;
}

// Flexbox shortcuts
.container {
  min-height: 78vh;
}

.side-margin {
  margin-right: 40px;
  margin-left: 40px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.align-h {
  display: flex;
  flex-direction: row;
}

.align-v {
  display: flex;
  align-items: center;
}

// margin shortcuts
.margin-bottom {
  margin-bottom: 40px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-top-10 {
margin-top: 10px;
}

.bottomize {
  display: flex;
  align-items: flex-end;
}

// main shadow to use
.shadow {
  box-shadow: -1px 1px 23px 0px #7b7b7b24 !important;
}

.padding {
  padding: 20px;
}

.front {
  z-index: 90;
}


// section titles
.index-titles {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.index-titles a {
  text-align: center;
  font-family: arial !important;
  font-weight: 900 !important;
  font-size: 62px !important;
  color: rgba(239, 239, 239, 0.8);
  text-shadow: 2px 3px 5px #FFF, 0px 0px 0 #5d5d5d, 1px 4px 6px #fff;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.Site-content {
  flex: 1;
}
