.opinions-container {
  margin-bottom: 20px;
  margin-top: 20px;
}

.talk-bubble {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 5px;
}


.tri-right.border.left-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 38px;
  bottom: auto;
  box-shadow: -1px 1px 23px 0px #7b7b7b24;
  // border: 12px solid;
  // border-color: $light-gray $light-gray transparent transparent;
}

.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
