<h4> Thank you for your support <i class="fa fa-heart"></i></h4>
<div>
  <div class="confirmation-container" id="validation-anim">
    <svg id="Layer_2" class="on" viewBox="0 0 50 50"><defs><style>.cls-1{fill:none;stroke:#ddd;stroke-miterlimit:10;stroke-width:1px;}</style></defs><circle class="cls-1" cx="25" cy="25" r="19.27"/></svg>

    <svg id="Layer_1" class="on" viewBox="0 0 24 19"><defs><style>.cls-2{fill:none;stroke:lightgreen;stroke-miterlimit:10;stroke-width:3px;}</style></defs>
      <polyline class="cls-2" points="2.09 9.56 8.3 15.77 22.19 1.87"/>
    </svg>
  </div>
</div>
