<div class="quizz-banner";">
  <h3 class="title">Discover your Europe !</h3>
  <p class="center">Get personalized suggestions</p>
  <%= link_to "Do the quizz", new_quiz_path, class: "btn-blue" %>
</div>
