<div class="quizz-banner";">
  <h3 id="typed-strings" class="title"></h3>
  <p class="center">Get customized suggestions</p>
  <%= link_to "Set preferences", new_quiz_path, class: "btn-wow" %>
</div>
