<div class="white_background padding_bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6  col-lg-8 col-sm-offset-3 col-lg-offset-2 align margin_bottom">
        <h1>New Article</h1>
        <h2 class="link_thin"><%= link_to 'Back', articles_path %></h2>
      </div>
      <div class="col-xs-12 col-sm-6  col-lg-8 col-sm-offset-3 col-lg-offset-2">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
