<% if current_page?('/articles') %>
  <div class="filters">
      <% Category.all.each do |category| %>
    <div id="category">
        <%= link_to category.name, articles_path(category: category.name) %>
    </div>
      <% end %>
      <div id="temperature">
        🔥
      </div>
      <div id="emotion">
        😀
      </div>
  </div>
<% end %>


