<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.facebook.com/become.european/?ref=bookmarks"><i class="fab fa fa-facebook"></i></a>
    <a target="_blank" href="https://twitter.com/_Nationall"><i class="fab fa fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    From Nationall, with <i class="fa fa-heart"></i>
  </div>
</div>

