
// for the position of the date
.article-text {
  position: relative;
  padding: 2px 5px 0px 0px;
}

// for the size of the category and date
.article-details {
 font-size: 14px;
}

// for the avatar and the name next to it
.article-profile {
  display: flex;
  align-items: center;
  font-size: 14px;
  .user-details {
    display: flex;
    flex-direction: column;
    line-height: 8px;
    margin-left: 10px;
    margin-top: 5px;
    .grow {
      flex: 1 0 50px;
    }
  }
}


.bio p {
  font-size: 16px;
}

.sticky {
  position: sticky;
  top: 5%;
}

.margin-top {
  margin-top: 25px;
}

// left part

.card-article {
  box-shadow: -1px 1px 23px 0px #7b7b7b24;
  padding: 70px 100px;
  margin-top: 20px;
}

// right part

.card-author {
  padding: 50px;
  margin-top: 53px;
}

.author img {
  width: 60px;
}

.author {
  font-size: 19px !important;
}

.author p {
  margin: 3px !important;
}

.form-inline div { display: inline-block }

#euro {
  margin:0 5px 12.5px;
  color: $dark-gray;
}

.donate-value {
  font-size: 20px;
  text-align : center;
  color: #4f4f54;
  max-width: 60px;
  padding: 0;
  margin-left: 70px;
  border: 1px solid #cecaca !important;
  height: 29px;
}

.donate-button {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  position: auto;
  font-size: 18px;
  color: $dark-gray !important;
  display: flex;
  align-items: center;
}

.donate-button:hover {
  color: $light-blue !important;
  text-decoration: none !important;
}
