.filters {
    height: 32px;
    width: 950px;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #0000000f;
    margin-bottom: 24px;
    align-items: center;

    #category a {
      color: #99999c;
      &:focus{
        color: #03359a;
      }
      &:active {
        color: #03359a;
      }
    }

    #temperature #emotion {
      font-size: 16px;
    }
}

