.filters {
    height: 32px;
    width: 950px;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0px solid #0000000f;
    margin-bottom: 28px;
    align-items: center;

    #category a {
      color: #99999c;
      &:hover{
        color: #03359a;
      }
    }

    #temperature #emotion {
      font-size: 16px;
    }
}

.dropbtn-fire {
  background-color: #FFFFFF;
  color: #d00606;
  padding-right: 12px;
  margin-bottom: 30px;
  font-size: 30px;
  height: 10px;
  border: none;
  width: 10px;
}

.dropbtn-emotion {
  background-color: #FFFFFF;
  color: #FFBB00;
  padding-right: 12px;
  margin-bottom: 22px;
  font-size: 26px;
  height: 10px;
  border: none;
  width: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
