.project-banner {
  height: 400px;
  width: 100%;
  background-size: cover !important;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: center;
  margin: 20px 0px 20px 0px;
  border: 10px solid white;
}
