.br-theme-fontawesome-stars .br-widget a:after {
  font-size: 40px;
  margin-right: 8px;
}

.br-theme-fontawesome-fire .br-widget a:after {
  font-size: 40px;
  margin-right: 10px;
}

.star-box {
  display: flex;
  align-items: center;
  height: 100px;
}

.fire-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

// make the explication aligned on the ratings
#rating-max {
 margin-right: 11px;
}

#tempe-max {
  margin-right: 10px;
}

#emotion-min {
  margin-left: 29px;
}

#emotion-max {
  margin-right: 21px;
}

.smiley-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smiley {
  background-size: cover !important;
  height: 44px;
  width: 80px;
  border-radius: 1px;
  opacity: 0.5;
  margin-bottom:12px;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  &.active {
      opacity: 1;
    label {
      opacity: 1;
    }
  }
}

.explanation {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #d2d2d2;
  margin-top:0px;
}

// .review_temperature {
//   .br-theme-bars-movie .br-widget .br-current-rating {
//     color: #b20a2c !important;
//     opacity: 0.5;

//   }
//   .br-theme-bars-movie .br-widget a {
//     margin: 0px !important;
//   }

//   [data-rating-text="Chill"] {
//     background-color: #eeceb3 !important;
//     opacity: 0.5;

//   }

//   [data-rating-text="Calm"] {
//     background-color: #e0a996 !important;
//     opacity: 0.5;
//   }

//   [data-rating-text="Pretty intense"] {
//     background-color: #cb6862 !important;
//     opacity: 0.5;
//   }

//   [data-rating-text="Intense"] {
//     background-color: #b20a2c !important;
//     opacity: 0.5;
//   }

//   [data-rating-text] + .br-active {
//     opacity: 1;
//   }

//   [data-rating-text] + .br-selected {
//     opacity: 1;
//   }
// }

